<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.miaogu.dao.ForumPostTableidMapper" >
  <resultMap id="BaseResultMap" type="cn.miaogu.domain.ForumPostTableid" >
    <id column="pid" property="pid" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mc_forum_post_tableid
    where pid = #{pid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.miaogu.domain.ForumPostTableid" >
    insert into mc_forum_post_tableid (pid)
    values (#{pid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.miaogu.domain.ForumPostTableid" >
    insert into mc_forum_post_tableid
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        pid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>